@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    <h2>Vimeo API Endpoints</h2>
    <pre>@ViewBag.Endpoints</pre>
</div>

<div>
    <h2>Vimeo Videp API Trial</h2>
    <a href="/Video/Create" class="btn btn-primary">Upload!</a>
</div>