@{
    ViewData["Title"] = "VideoCreate";
}

<div>
    <h2>MyApp Form</h2>
    <form id="upload-form-myapp" method="post" enctype="multipart/form-data">
        <input id="upload-file-select" type="file" name="file_data" />
        <button id="upload-file-button" type="submit" disabled>Upload!</button>
    </form>
</div>
<div>
    <h2>Vimemo Iframe Form</h2>
    <div id="upload-form">
    </div>
</div>

@section Scripts{
    <script>
    $(function () {
        let getUploadForm = function(size) {
            $.ajax({
                type: "GET",
                url: "/Video/UploadInfo?size=" + size,
                success: function (response) {
                    console.log(response);
                    let form = response.upload.form;
                    $("#upload-form").html(form);
                    let uploadLink = response.upload.upload_link;
                    $("#upload-form-myapp").attr("action", uploadLink);
                    $("#upload-file-button").prop("disabled", false);
                },
                error: function (error) {
                    console.log(error);
                }
            });
        };

        let uploadFile = $("#upload-file-select");
        uploadFile.on("change", function() {
            let file = $(this).prop("files")[0];
            console.log(file);
            getUploadForm(file.size);
        });
    });
    </script>
}